@-o-viewport {
  width: device-width;
  zoom: 1.2;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html, body {
  height: 100%;
  overflow: hidden;
}

#map {
  font-size: 10px;
}

#map.fullsize {
  width: 100%; height: 100%;
  position: relative; bottom: 0px;
}

.panorama-width {
  width: 50%; height: 100%;
}

.panorama-width-big {
  width: 60%; height: 100%;
}

.portrait-height {
  height: 60%; width: 100%;
}

#navigation {
  background-color: #388fd0; /** #D3D3D3; opacity: 0.8; be-link blue #2D509A **/
  position: fixed; top: 0px; left: 0px; width: 100%; z-index: 100;
  text-align: center; height: 35px; padding-top: 5px; padding-top: 15px;
  font: 12px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #fff;
}

#navigation a {
  font-weight: bold;
  color: #fff; text-decoration: none; 
  padding-top: 20px; padding-bottom: 20px;
  padding-left: 10px; padding-right: 10px;
}

#navigation a:hover {
  color: #333; background-color: #fff;
  /** border-bottom: 1px solid #fff; **/
  /** border-top: 4px solid #333; **/
}

#navigation a.selected {
  background-color: #fff; color: #333;
}

#loading-area {
  margin-right: auto; margin-left: auto;
  width: 110px; height: 50px; z-index: 106; padding: 15px;
  position: absolute; top: 35%;  left: 45%; color: #fff;
  font-weight: bold; font-size: 11px; font-family: sans-serif;
}

#loading-area img.loading {
  padding: 0px; margin: 0px; z-index: 101;
  position: relative; left: -100px; top: 10px;
  background: transparent;
}

a.topic-name {
  color: #000;
}

#kiezatlas-control {
  width: 100%; height: 100%;
  background-color: #fff; z-index: 96;
  display: none; position: fixed; top: 0px; overflow-y: scroll;
  font: 12px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ka-select {
  margin-top: 65px; width: 280px; padding-left: 0px;
  margin-left: auto; margin-right: auto;
}

ul.ka-select li {
  padding: 10px; padding-left: 20px;
  list-style: none; font-weight: bold;
  border-bottom: 1px #388fd0 solid;
  cursor: pointer;
}

/** *overwritten by iScrol script when rendering #info-container */
#info-container {
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}

.info-container-portrait { /** padding: 10px; **/
  height:40%; width: 100%; max-height: 300px; min-height: 30%;
  position:absolute; bottom: 0px; left: 0px;
  background-color: #388fd0; /** #388fd0 **/
  z-index: 101; border-top: 1px solid #fff;
}

.info-container-panorama {
  /** padding: 10px; **/
  height:100%; width: 50%; max-width: 50%; min-width: 30%;
  position:absolute; bottom: 0px; right: 0px;
  background-color: #388fd0; /** #388fd0 **/
  z-index: 101; border-left: 1px solid #fff;
}

.info-container-panorama-big {
  /** padding: 10px; **/
  height:100%; width: 40%; max-width: 40%;
  position:absolute; bottom: 0px; right: 0px;
  background-color: #388fd0; /** #388fd0 **/
  z-index: 101; border-left: 1px solid #fff;
}

#scroller {
  /* position: absolute; z-index: 102; **/
  max-width: 100%; height: 100%; display: block;
}

#info-container .title {
  font: 14px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #fff; padding-left: 10px; font-weight: bold;
  margin-bottom: 0px; padding-right: 55px;
}

#info-container #info-item .propertyField img,
#info-container #info-item img {
  float: left; background-color: none; padding: 0px;
}

#info-container img {
  float: right; background-color: #fff;
  padding: 15px;
}

#info-container #info-item .content a img.fahrinfo {
  cursor: pointer; background-color: #fff;
  position: relative; left: 10px; top: 5px; 
  float: none; padding: 5px;
}

#info-item {
  width: 80%; position: relative;
  font: 14px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #fff; padding-left: 10px; padding-right: 55px;
}

#info-item p b a {
  color: #fff;
}

#info-item a {
  color: #fff;
}

#close-button {
  background-color: #fff; float: none !important;
  position: absolute; right: 0px; top: 0px;
}

#down-button {
  position: absolute; right: 0px; width: 45px;
  background-color: #fff; top: 45px; color: #000; cursor: pointer;
  font: 12px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center; vertical-align: bottom; font-weight: bold;
  padding-top: 6px; padding-bottom: 6px;
  z-index: 103;
}

#top-button {
  position: fixed; right: 0px; bottom: 0px;
  background-color: transparent !important; 
  color: #000; cursor: pointer;
  float: none !important;
  z-index: 103;
  /** font: 12px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center; vertical-align: bottom; font-weight: bold;
  padding-top: 6px; padding-bottom: 6px; width: 45px; */
}

.leaflet-popup-content-wrapper .item {
  border-bottom: 2px solid #e9e9e9; padding: 5px;
  cursor: pointer; margin-top: 2px;
}

/** #info-item i.cats {
  color: #888888;
} **/

.leaflet-popup-content-wrapper {

}

.leaflet-left .leaflet-control {
  margin-left: 0px;
  /** border-bottom: 1px solid #fff;
  border-right: 1px solid #fff; **/
}

.leaflet-control-zoom a {
  background-color: #fff;
  padding: 3px;
  border-radius 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.leaflet-control-zoom {
  /* background-color: #388fd0; **/
  background: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  padding: 8px;
}

.leaflet-control-zoom.leaflet-control {
  margin-top: 15px;
  z-index: 98;
}

.leaflet-control-zoom-loc {
  background-image: url(locate.png);
  margin-top: 0px; margin-bottom: 5px;
}

#go-more {
  /** position: fixed; left: 0px; top: -7px; **/
  background-image: url(front.png);
  background-position: 25px 7px;
  /** background-position-x: 30px;
  background-position-y: 3px; **/
}

#go-more.selected {
  color: #000;
  background-color: #fff;
}

a#go-more {
  padding: 3px; /**  padding-bottom: 15px; padding-top: 15px **/
  font-size: 15px; text-decoration: none; padding-left: 25px !important; position: relative; left: -22px; top: -8px;
  margin-bottom: -2px; margin-left: 0px; margin-top: 5px; padding-top: 10px;
}

a#go-more:link {
  text-decoration: none;
}

/** 
  margin-top: 5px; width: 45px; height: 20px;
  childish.. => z-index: 100; position: absolute; top: 10px; left: 10px; 
}
**/

/** .leaflet-control-zoom-out {
  position: relative; top: -25px; left: 25px;
} **/
